<nav class="navbar navbar-expand-lg navbar-light bg-light" >

  <!-- <div class="container-fluid" > -->

    <!-- <div> -->
      <a class="navbar-brand" [routerLink]="['/']">Product list</a>
    <!-- </div> -->

    <div class="collapse navbar-collapse" id="navbarColor01" >
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active"> 
          <a class="nav-link" [routerLink]="['/']" > Home <span class="sr-only">(current)</span></a> 
        </li>
        <li class="nav-item"> 
          <a class="nav-link" [routerLink]="['/products']" > Products </a> 
        </li>
        <li class="nav-item" *ngIf="authenticated"> 
          <a class="nav-link" [routerLink]="['/add-product']" > Add Product </a> 
        </li>
        
      </ul>

      <ul class="navbar-nav navbar-right" >
        <li class="nav-item" >
          <div *ngIf="user | async as u; else showLogin">
            Hello {{ u.displayName }}! <a class="nav-link" (click)="logout()" [routerLink]="['/home']">Logout</a>
          </div>
          <ng-template #showLogin>
            <a class="nav-link" (click)="login()" [routerLink]="['/home']">Login with Google</a>
          </ng-template>
        </li>
      </ul>

    </div>
  <!-- </div> -->

</nav>