
<mat-toolbar>
  <span class="mat-headline">Product Details</span>
</mat-toolbar>

<div class="details-product"  *ngIf="barcode" >
  
  <!-- <mat-card style="padding: 15px; padding-left: 150px;"> -->
  <mat-card >

    <mat-card-header>
      <mat-card-title> <span class="mat-headline">{{name}}</span> </mat-card-title>
    </mat-card-header>

    <mat-card-content >
      <!-- <div class="left" > -->
      <div class="left" >
        <img mat-card-lg-image src="{{imageUrl}}" alt="{{name}}" >
      </div>
      <!-- <hr> -->
      
      <!-- <div class="right"> -->
      <div class="right">
        <mat-list>
            <mat-list-item> <i class="material-icons">  </i> sku:&nbsp;&nbsp;<b> {{sku}}</b> </mat-list-item>
            <mat-list-item> <i class="material-icons">  </i> name:&nbsp;&nbsp;<b> {{name}}</b> </mat-list-item>
            <mat-list-item> <i class="material-icons">  </i> barcode:&nbsp;&nbsp;<b> {{barcode}}</b> </mat-list-item>
            <mat-list-item> <i class="material-icons">attach_money</i> pirce:&nbsp;&nbsp;<b> {{price}}</b> </mat-list-item>
            <mat-list-item> <i class="material-icons">star</i> rate:&nbsp;&nbsp;<b> {{rate}}</b> </mat-list-item>
            <mat-list-item> <i class="material-icons">  </i> bought:&nbsp;&nbsp;<b> {{bought}}</b> </mat-list-item>
            
        </mat-list>

      </div>

    </mat-card-content>

    <mat-toolbar style="height: auto;"> <hr> </mat-toolbar>

    <mat-card-actions >
      
      <button [routerLink]="['/products']" mat-raised-button> <i class="material-icons">view_module</i> All Products </button>      
      <button [routerLink]="['/edit-product/'+barcode]"  mat-raised-button class="editButton"> <i class="material-icons">mode_edit</i> Edit </button>
      <button [routerLink]="['/delete-product/'+barcode]" mat-raised-button color="warn"> <i class="material-icons">delete_sweep</i> Delete </button>
      
    </mat-card-actions>

    <mat-card-footer> ... </mat-card-footer>

  </mat-card>


</div>
